@font-face
    font-family: 'SuisseIntl-Regular'
    src: url(../fonts/SuisseIntl-Regular.woff)

@font-face
    font-family: 'SuisseIntl-Medium'
    src: url(../fonts/SuisseIntl-Medium.woff)

@font-face
    font-family: 'SuisseIntl-SemiBold'
    src: url(../fonts/SuisseIntl-SemiBold.woff)

@font-face
    font-family: 'SuisseIntl-Bold'
    src: url(../fonts/SuisseIntl-Bold.woff)

@font-face
    font-family: 'Roboto-Black'
    src: url(../fonts/Roboto-Black.woff)