.welcome
    .welcome__top.container
        .welcome__top-left
            .welcome__block
                .welcome__block-title Вітальний Бонус*
                .welcome__block-cont
                    .welcome__block-txt.txtMagenta #[span до] 225 000 ₴
                    .welcome__block-txt.txtBlue 300 FS
            .depositBtn.big Зробити депозит
        .welcome__top-right
            picture
                source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/team-desk.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/team-tab.png")
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/team-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/team-mob.png")
                img(src="img/team-desk.png" alt="Favbet")
    .welcome__center.container
        .welcome__center-bonuses
            //1
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 1
                    .bonusItem__numb-bottom Депозит
                .bonusItem__txt
                    .bonusItem__txt-top БОНУС 100% <br> до 30 000 ₴
                    .bonusItem__txt-bottom за депозит від 100 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //2
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 2
                    .bonusItem__numb-bottom Депозит
                .bonusItem__txt
                    .bonusItem__txt-top БОНУС 125% <br> до 37 500 ₴
                    .bonusItem__txt-bottom за депозит від 200 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //3
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 3
                    .bonusItem__numb-bottom Депозит
                .bonusItem__txt
                    .bonusItem__txt-top БОНУС 150% <br> до 45 000 ₴
                    .bonusItem__txt-bottom за депозит від 300 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //4
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 4
                    .bonusItem__numb-bottom Депозит
                .bonusItem__txt
                    .bonusItem__txt-top БОНУС 175% <br> до 52 500 ₴
                    .bonusItem__txt-bottom за депозит від 400 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //5
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 5
                    .bonusItem__numb-bottom Депозит
                .bonusItem__txt
                    .bonusItem__txt-top БОНУС 200% <br> до 60 000 ₴
                    .bonusItem__txt-bottom за депозит від 500 ₴
        .welcome__center-fs
            .welcome__center-fs-left 300 FS
            .welcome__center-fs-right за депозит від 300 ₴
        .depositBtn Зробити депозит
    .welcome__bottom.container
        .drop
            details.dropdown
                summary Офіційні правила
                .drop-txt
                    .drop-txt-list
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dsffb facilis molestias quas quisquam sed sint vate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dsffs facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem digimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dsimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem imos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem imos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem im facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?

        .details
            p * Під бонусом розуміється можливість отримати приз в рамках Акції «Вітальний бонус». Деталі на сайті favbet.ua. Період Акції з 24.03.2025 по 31.12.2025 року. Бонус доступний тільки для нових клієнтів.
            p * 150 FS у грі «Sam's Play» та 150 фріспінів у грі «Gates of Olympus» за депозит від 300 ₴